* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
/* Nav and title */
.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 51px 200px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
.btn-primary {
  height: 64px;
  font-weight: 700;
  font-size: 20px;
  background: #fd6e0a;
  border-radius: 5px;
  color: white;
  border: 0;
  padding: 18px 36px;
}

/* banner styles */
.banner {
  margin: 0 200px;
  display: flex;
  align-items: center;
}
.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 5px;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
  margin-bottom: 20px;
}
.banner-description {
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}
.header {
  background: #fff8f3;
}
